build/
cmake-build-*/
.idea/
.vs/
.vscode/

# Ignore cmake and build artifacts, in case someone trys to build in source dir.
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
install_manifest.txt
_deps/
script-externals/
OGL4Core2
OGL4Core2.config
*.a
*.cbp
*.sln
*.vcxproj
*.filters
*.user
*.dir/
Debug/
Release/
RelWithDebInfo/
MinSizeRel/
x64/
Win32/
